body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,126,170,1) 100%, rgba(44,96,85,1) 100%, rgba(91,100,99,1) 100%, rgba(0,212,255,1) 100%);
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
input[type='file']{
    color: black;
}
.App h1{
  font-weight: 100;
}

button{
  margin-bottom: 30px;
  border-radius: 10px;
  height: 50px;
  border: none;
}